@import "~bootstrap/dist/css/bootstrap.min.css";

/* Body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Header styles */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Landing page styles */
.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: black;
}



/* Slogan styles */
.slogan {
  font-size: 40px;
  color: white;
 z-index: 2;
 position: relative;
 left:12rem;
top:10rem;

}



.sub-slogan {
  font-size: 20px;
  color: #DDD8B8;
  z-index: 2;
  position: relative;
  left:12rem;
 top:10rem;

}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .slogan {
    font-size: 1.5rem;
    /* Adjust font size for smaller screens */
  }

  .sub-slogan {
    font-size: 1.2rem;
    /* Adjust font size for smaller screens */
  }
}

.container {
  width: 200px;
  /* Adjust as needed */
  height: 200px;
  /* Adjust as needed */
  perspective: 800px;
  /* Adjust perspective for 3D effect */
}

button.signup,button.login{
  position: relative;
  top:5px;
  border-radius: 8px;
  border-color: #4B4994;
  margin-top: 20px;
  margin-right: 20px;
  padding:7px;
  background-color:#4B4994;
  color: white ;
  
}

button.login:hover{
  background-color:white;
  color: #4b4994;
}

button.signup:hover{
  background-color:white;
  color: #4b4994;
}


img {
  height: 300px;

}


footer {
  background-color: #a8a8af;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.container-fluid-footer {
  color: white;
  background-color: #a8a8af;

}


.pulsate-brain{
  height: 600px;
  width:950px;
  position: relative;
  right:12rem;


}

#navbarNavDropdown {
  justify-content: end;
  align-items: end;

}

.statements{
  display: flex;
  flex-direction: row;
  background-color: #a8a8af;
  height: 16rem;
  color: white;
  
}

p.mission,p.purpose{
  margin-right: 35px;

}
.mission-statement,.purpose-statement{
  margin-left:35px;
  
}
.card-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  align-content: center;
  justify-content: space-around;
  position: relative;
  top: 20px;

}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 5px;
}

.card {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.video {
  margin: 8rem;
}

button.btn.btn-primary.mt-3 {
  background-color: #4b4994;
  border-color: #4b4994;
  justify-content: center;
  align-items: center;

}

button.btn.btn-primary.mt-3:hover {
  background-color: #a8a8af;
  color: #4b4994;
  border-color: #4b4994;
}

a.btn.btn-primary.mt-3 {
  background-color: #4b4994;
  border-color: #4b4994;
  justify-content: center;
  align-items: center;

}

a.btn.btn-primary.mt-3:hover {
  background-color: #a8a8af;
  color: #4b4994;
  border-color: #4b4994;
}

button.prompt-button:hover{
  transform: scale(1.1); /* Increase size on hover */
  background-color: #4b4994;
 

}
.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #4b4994;
}

.prompt h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.prompt p {
  font-size: 18px;
  margin-bottom: 20px;
}

.prompt input {
  width: 60rem;
  /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prompt-save-button {
  width: 15rem;
  /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  background-color: #a8a8af;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prompt-save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.goback-button {
  background-color: #4b4994;
  color: #a8a8af;
  border-color: #4b4994;
  border-radius: 3px;
  margin: 25px;

}

.goback-button:hover {
  background-color: #a8a8af;
  color: #4b4994;
  border-color: #a8a8af;
}