@import "~bootstrap/dist/css/bootstrap.min.css";

/* Body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Header styles */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}


/* CSS for the home component */
/* Home.css */
.home {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
}

.soul-support-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.health-pic-container {
  flex: 0 0 50%; /* Take up half of the container width */
  max-width: 50%; /* Ensure image container doesn't exceed half of the container */
  padding-right: 20px; 
}

.health-pic {
  max-width: 100%; /* Ensure image scales appropriately */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

.main-page-title {
  flex: 0 0 50%; /* Take up half of the container width */
  max-width: 50%; /* Ensure title container doesn't exceed half of the container */
  padding-left: 20px; 
}

.title-text {
  font-size: 45px;
  color: #210162;
  margin-bottom: 10px; 
}

.subtitle-text {
  font-size: 18px;
  color: #210162;
  margin-bottom: 20px; 
}

.button-container {
  display: flex;
  gap: 20px; 
}

button.signup-button,
button.signin-button {
  background-color: #210162;
  border-color: #210162;
  color: #FFFCF2;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 45px;
  width: 90px;
}

button.signup-button:hover,
button.signin-button:hover {
  background-color: #FFFCF2;
  color: #210162;
  border-color: #210162;
}

@media (min-width: 768px) {
  /* Adjust layout for larger screens */
  .soul-support-container {
      flex-direction: row; /* Display items side by side on larger screens */
  }

  .health-pic-container {
      flex: 0 0 50%; /* Take up half of the container width */
      max-width: 50%; /* Ensure image container doesn't exceed half of the container */
      padding-right: 20px; /* Add spacing between health pic and main page title */
  }

  .main-page-title {
      flex: 0 0 50%; /* Take up half of the container width */
      max-width: 50%; /* Ensure title container doesn't exceed half of the container */
      padding-left: 20px; /* Add spacing between health pic and main page title */
      font-size: 14px;
  }
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: #210162;
  padding: 10px;
  text-align: center;
}




.container-fluid-footer {
  color: #210162;
  background-color: #FFFFFF;

}


.gif-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center; /* Vertically center the GIF */
  height: 40rem;
  width:50rem;
  position: relative;
  left:15rem;
 
}


#navbarNavDropdown {
  justify-content: end;
  align-items: end;
}


/* Mission.css (or your preferred CSS file) */
.statements {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add vertical spacing between mission and purpose statements */
}

.mission-statement,
.purpose-statement {
  background-color: #f9f9f9; /* Optional: Add background color to differentiate sections */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.statement-title {
  font-size: 18px;
  color: #210162;
  font-weight: bold;
  margin-top: 0; /* Remove default margin */
}

.mission,
.purpose {
  font-size: 16px;
  color: #333; /* Adjust text color */
}

@media (max-width: 768px) {
  .statements {
    padding: 10px; /* Adjust overall padding for smaller screens */
  }

  .mission-statement,
  .purpose-statement {
    padding: 15px; /* Adjust padding within statements */
  }

  .statement-title {
    font-size: 16px; /* Adjust title font size */
  }

  .mission,
  .purpose {
    font-size: 14px; /* Adjust content font size */
  }
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;

 
}

.card {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden; 
  word-wrap: break-word;
  white-space: normal;
}

.video {
  margin: 8rem;
}



a.btn.btn-primary.mt-3 {
  background-color: #210162;
  border-color: #210162;
  justify-content: center;
  align-items: center;
}

a.btn.btn-primary.mt-3:hover {
  background-color: #FFFCF2;
  color: #210162;
  border-color: #210162;
}


.goback-button {
  background-color: #210162;
  color: #FFFCF2;
  border-color: #210162;
  border-radius: 3px;
  margin: 25px;

}

.goback-button:hover {
  background-color: #FFFCF2;
  color: #210162;
  border-color: #210162;
}



/* api page css */

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  color: #606060;
}

.tabs button.active {
  color: #ff0000; /* Change color to match YouTube's accent color */
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.video-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to the bottom */
}


.video-item iframe {
  width: 100%;
  height: 200px;
  
}

.video-item h3 {
  margin: 10px;
  font-size: 16px;
}

.video-item p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: #606060;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin to the top */
}

.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px; /* Add margin between buttons */
  font-size: 14px;
  color: #606060;
}

.pagination button.active {
  color: #ff0000; /* Change color to match YouTube's accent color */
}


/* GEMINI CHATBOT */


.loading {
  font-style: italic;
  color: #666;
}

.gemini-container {
  position: relative; /* Ensure relative positioning for absolute positioning within */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
}

.messages {
  flex: 1; /* Allow messages container to expand to fill remaining space */
  overflow-y: auto; /* Add scrollbar for overflow */
  margin: 0 150px;
}

.user-input-container {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 60%;
  background-color: #f9f9f9;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}


.user-input {
  flex: 1; /* Allow input to expand to fill remaining space */
  border: 2px solid #210162;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.send-button {
  background-color: #210162;
  color: #FFFCF2;
  border-color: #210162;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  height: 45px;
  width: 50px;

}


.send-button:hover {
  background-color: #FFFCF2;
  color: #210162;
  border-color: #210162;
}

.user-message {
  background-color: #210162;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.generated-message {
  background-color: #FFFCF2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
}
